h1{
    color: white;
    font-family: 'Special Elite', cursive;
    size: 32px;
    text-shadow: 0 0 2px #000;
}

h2{
    color: white;
    font-family: 'Special Elite', cursive;
    size: 32px;
    text-shadow: 0 0 2px #000;
}

p{
    color: white;
    font-family: 'Special Elite', cursive;
    size: 32px;
    font-size: 30px;
    text-shadow: 0 0 2px #000;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

span{
    color: white;
    font-family: 'Special Elite', cursive;
    font-size: 28px;
    margin: 30px;
    cursor: pointer;
}

span:hover{
    color: yellow;
}
    
#full-screen-background-image {
  z-index: -1;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

#wrapper {
  position: relative;
  width: 800px;
  min-height: 400px;
  margin: 100px auto;
  color: #333;
  
}

header{
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 3%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 20px black;
    -webkit-box-shadow: 0 0 20px black;
    box-shadow: 0 0 20px black;
}

footer{
    position: fixed;
    z-index: 2;
    bottom: 0;
    width: 100%;
    height: 8%;
    padding: 0px;
    background: rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 20px black;
    -webkit-box-shadow: 0 0 20px black;
    box-shadow: 0 0 20px black;
}

a{
    color: white;   
}

a:hover{
    color: yellow;
}

img.resize{
   cursor: pointer;
   max-width:100%;
   max-height:100%;
   alignment-adjust: central;
}